<div class="jumbotron text-center">
     <h1> Cart</h1>
    <h3>{{message}}</h3>


    <div ng-controller="cartController as list">
        <div class="row">



            <div class="row">
                <div class="col-sm-12">


                    <table class="table table-bordered">

                        <!-- header -->
                        <tr class="style">
                            <td class="tdLeft"><b>Item Name</b></td>
                            <td class="tdCenter"><b>Quantity</b></td>
                            <td class="tdRight"><b>Price</b></td>
                            <td />

                            
                        </tr>

                        <!-- empty cart message -->
                        <tr ng-hide="items.length > 0" >
                            <td class="tdCenter" colspan="4">
                                Your cart is empty.
                            </td>
                        </tr>

                        <tr class="style" ng-repeat='item in items'>
                            <td><a ui-sref='menu({category:menu.category})'>{{item.menu.category}} {{item.name}}</a></td>
                            
                            <td class="tdRight">{{item.quantity}}</td>
                <td class="tdRight">{{item.totalPrice}}</td>
                           
                            <td class="tdRight">
                            <button class="btn btn-primary" ng-click='addToCartMenu(item.id,+1)'>+</button>
                                    <button class="btn btn-danger" ng-click='addToCartMenu(item.id,-1)'>-</button>

                                <button class="btn btn-danger" ng-click='cat.RemoveCartMenu(menu.category)'>Remove </button>
                            </td>   
                        </tr>

                        <!-- footer -->
                        <tr class="style">
                            <td><b>Total</b></td>
                            <td class="tdCenter"><b>{{cat.cat.GetTotalMenuCount()}}</b></td>
                            <td class="tdRight"><b>{{cat.GetTotalMenuPrice() | currency}}</b></td>
                            <td />
                            
                        </tr>
                    </table>
                </div>

                <!-- buttons -->
                <div class="col-sm-12">
                    <p class="text-info">
                        <a href="#/" class="btn btn-block" style="text-decoration:none;background:grey;color:white">
                            <i class="icon-chevron-left" /> back to store
                        </a>
                        <button
                                class="btn btn-block btn-danger"
                                ng-click=" "
                                ng-disabled="cr.GetTotalMenuCount() < 100" >
                            <i class="icon-trash icon-white" /> Payment
                        </button>
                    </p>

                    <br /><br />
                </div>
            </div>



        </div>
    </div>
</div>