<h1>{{ message }}</h1>

<div class="row">
    <div class="col-md-4">

        <table style="text-align: center">
            <tr>
                <td>
                    <p>
                        <i>Welcome to Walsh's Chipper</i></p>
                    <p>A traditional family run chipper with the freshest chips in town!.</p>
                    <p>Check out our <a href ="#menu">Menu</a> to view our traditional Chips, Fish, Sausages, Chicken and Burgers!</p>
                    <p>Or why not check out our Daily <a href ="#special">Specials</a> and bag some savings.</p>

                </td>
            </tr>
        </table>

    </div>
</div>
