<div class="jumbotron text-center">
    <h1>Add An Item to the Menu</h1>


    <div ng-controller="itemController">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">

                <form ng-submit="addItem()"
                      style="margin-top:30px;">
                    <h3>Add a new Item</h3>

                    <div class="form-group" align="center">


                        <div class="form-group" align="center">
                            <h5>Name of Item</h5>
                            <input type="text"
                                   class="form-control"
                                   placeholder="Monday Maddness Deal"
                                   ng-model="formData.name"
                                   ng-style="{'width': 100 + 'px'}"></input>
                        </div>
                        <div class="form-group" align="center">
                            <h5>Price of Item</h5>
                            <input type="number"
                                   class="form-control"
                                   placeholder="2.99"
                                   ng-model="formData.price"
                                   ng-style="{'width': 100 + 'px'}"></input>
                        </div>
                        <h5>Type of Item</h5>
                        <select ng-model="formData.type" class="form-control" ng-show="formData.type"
                                ng-options="option.name for option in options"
                                ng-style="{'width': 100 + 'px'}">
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Add Item</button>
                </form>

            </div>
        </div>
    </div>
</div>
