<div class="jumbotron text-center">
    <h1> MENU </h1>
    <h3>{{message}}</h3>

    <div ng-controller="menuController as list">
        <div class="row">

            <div class="container-fluid">
                <div class="row">


                    <div class="col-sm-3 col-lg-2">
                        <nav class="navbar navbar-default navbar-fixed-side">
                            <p><a href="#special"> Specials </a></p>
                            <p><a href="#menu"> Menu </a></p>



                        </nav>
                    </div>

                    <table align="center" class="col-sm-9 col-lg-10" valign="middle">
                        <th> Category </th>
                        <th> Name </th>
                        <th> Price</th>
                        <tbody ng-repeat="menu in menu">

                        <tr>
                            <td>

                        <tr style="height:55px; font-size:20px; margin-left:20px" valign="middle";>
                        <td>
                            <span style="height:55px; font-size:20px; margin-left:20px;"  valign="middle";>{{menu.category}}</span>
                        </td>
                        <td>
                            <span style="height:55px; font-size:20px; margin-left:20px;"  valign="middle";>{{menu.name}}</span>
                        </td>

                        <td>
                            <span class="glyphicon glyphicon-euro"></span>{{menu.price}}
                        </td>


                        <td>


                            <span style="height:55px; font-size:20px; margin-left:20px; margin-right:20px;" valign="middle";>
                            <button type="button" class="btn btn-success" ng-click="addToCart(menu._id, 1)"> Add To Cart
                            </button>
                            </span>
                        </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>
</div>